<div class="card mt-4">
  <h4 class="card-header">Mantenimiento Producto</h4>
  <div class="card-body">
    <div class="row text-right">
      <div class="col">
        <button class="btn btn-danger" routerLink="/producto">
          <i class="fa fa-arrow-left"></i>
          Regresar
        </button>
      </div>
    </div>

    <div class="row animated fadeIn faster">
      <div class="col">

        <form (ngSubmit)="guardar( f )" #f="ngForm">

          <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" placeholder="Descripcion del Producto" [(ngModel)]="producto.descripcion"
              name="descripcion" required>
          </div>

          <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio"
              placeholder="Precio del Producto">
          </div>

          <div class="form-group">
            <label>Detalle</label>
            <input type="text" class="form-control" [(ngModel)]="producto.detalle" name="detalle"
              placeholder="Detalle del Producto">
          </div>

          <div class="form-group">
            <label>Imagen</label>
            <input type="string" class="form-control" [(ngModel)]="producto.imagen" name="imagen"
              placeholder="Stock del Producto">
          </div>

          <div class="form-group">
            <label>Estado</label>
            <input type="text" class="form-control" [(ngModel)]="producto.estado" name="estado"
              placeholder="Estado del Producto">
          </div>

          <hr>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-25">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>